.uk-navbar {
background-color: #D64E0F;
    
}

.uk-navbar-nav>li>a  {
    color:white;
    
    
}
.uk-navbar-brand {
    color:white;
}



table tr th {
    color:#332A23;
}

th {
    background-color: #FAF3C0;
}

body {
    background-color: #EEEEEE;
    
}

.uk-block {
    background-color: white;
}

table {
    background-color: white;
}
h1 {
    font-family: 'Passion One', cursive;
}