---
layout: default
---

          
  <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#switcher-content'}">
    <li class="uk-active"><a href="#">TEMPORADA 1</a></li>
    <li><a href="#">TEMPORADA 2</a></li>
    </ul>
    <!--TABLA-->
      <ul id="switcher-content" class="uk-switcher">
        <li class="uk-active">
      <table class="uk-table-striped">
      <h2>DOMINGO, 1 DE ENERO</h2>
      <thead>
        <tr class ="uk-table-middle">
             <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
    <tbody>
      {% for match in site.data.calendar limit: 5  %} 
        <tr>
          <td> {{ match.date }} </td>
          <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
          <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
          <td><strong> {{ match.result }} </strong></td>
        </tr>
      {% endfor %}
      </tbody>              
    </table>
    <h2>SABADO, 7 DE ENERO</h2>
    <table  class="uk-table-striped">
      <thead>
        <tr class ="uk-table-middle">
           <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
    <tbody>
    {% for match in site.data.calendar limit: 5 offset:5 %} 
      <tr>
        <td> {{ match.date }} </td>
        <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
        <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
        <td><strong> {{ match.result }} </strong></td>
      </tr>
      {% endfor %}
   </tbody>
   </table>            
    <h2>DOMINGO, 8 DE ENERO</h2>            
    <table class="uk-table-striped">
      <thead>
         <tr class ="uk-table-middle">
            <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
    <tbody>
      {% for match in site.data.calendar limit: 5 offset:10 %} 
      <tr>
        <td> {{ match.date }} </td>
        <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
        <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
        <td><strong> {{ match.result }} </strong></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    <h2>SABADO, 14 DE ENERO</h2>
    <table  class="uk-table-striped">
        <thead>
         <tr class ="uk-table-middle">
            <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
        <tbody>
        {% for match in site.data.calendar limit: 5 offset:15 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>DOMING, 15 DE ENERO</h2>
    <table  class="uk-table-striped">
        <thead>
         <tr class ="uk-table-middle">
            <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
        <tbody>
        {% for match in site.data.calendar limit: 5 offset:20 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>          
      <h2>SABADO, 21 DE ENERO</h2>
      <table class="uk-table-striped">
        <thead>
          <tr class ="uk-table-middle">
            <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
          </tr>
        </thead>
        <tbody>
          {% for match in site.data.calendar limit: 5 offset:20 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
        {% endfor %}        
        </tbody>
        </table>
        <h2>DOMINGO, 22 DE ENERO</h2>
        <table class="uk-table-striped">
          <thead>
            <tr class ="uk-table-middle">
              <th class="uk-width-1-10">HORA</th>
              <th class="uk-width-1-10">LOCAL</th>
              <th class="uk-width-1-10">VISITANTE</th>
              <th class="uk-width-1-10">RESULTADO</th>
              <th class="uk-width-1-10">TIEMPO</th>
              <th class="uk-width-1-10">ASIST</th>
              <th class="uk-width-1-10">FALTAS</th>
            </tr>
          </thead>
          <tbody>
          {% for match in site.data.calendar limit: 5 offset:25 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
        {% endfor %}
          </tbody>
          </table>
          <h2>SABADO, 28 DE ENERO</h2>
            <table class="uk-table-striped">
                <thead>
                     <tr class ="uk-table-middle">
                        <th class="uk-width-1-10">HORA</th>
                        <th class="uk-width-1-10">LOCAL</th>
                        <th class="uk-width-1-10">VISITANTE</th>
                        <th class="uk-width-1-10">RESULTADO</th>
                        <th class="uk-width-1-10">TIEMPO</th>
                        <th class="uk-width-1-10">ASIST</th>
                        <th class="uk-width-1-10">FALTAS</th>
                    </tr>
                </thead>
                <tbody>
                {% for match in site.data.calendar limit: 5 offset:30 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <table class="uk-table-striped">
        <caption class='.uk-margin-small-bottom'><strong>CALENDARIO</strong></caption>
         <h2>DOMINGO, 29 DE ENERO</h2>
                
    <thead>
        <tr class ="uk-table-middle">
             <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
    <tbody >
      {% for match in site.data.calendar limit: 5 offset:35 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    <h2>SABADO, 4 DE FEBERERO</h2>
    <table  class="uk-table-striped">
      <thead>
        <tr class ="uk-table-middle">
           <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
    <tbody>
      {% for match in site.data.calendar limit: 5 offset:40 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
      {% endfor %}    
      </tbody>
    </table>
            
    <h2>DOMINGO, 5 DE FEBRERO</h2>
            
    <table  class="uk-table-striped">
        <thead>
         <tr class ="uk-table-middle">
            <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
    <tbody>
      {% for match in site.data.calendar limit: 5 offset:45 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
      {% endfor %}    
      </tbody>
  </table>
  <h2>SABADO, 11 DE FEBRERO</h2>
    <table  class="uk-table-striped">
      <thead>
         <tr class ="uk-table-middle">
            <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
        <tbody>
      {% for match in site.data.calendar limit: 5 offset:50 %} 
          <tr>
            <td> {{ match.date }} </td>
            <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
            <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
            <td><strong> {{ match.result }} </strong></td>
          </tr>
      {% endfor %}                    
      </tbody>
    </table>
    <h2>DOMINGO, 12 DE FEBRERO</h2>
    <table  class="uk-table-striped">
        <thead>
         <tr class ="uk-table-middle">
            <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
        </tr>
    </thead>
    <tbody>    
    {% for match in site.data.calendar limit: 5 offset:55 %} 
      <tr>
        <td> {{ match.date }} </td>
        <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
        <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
        <td><strong> {{ match.result }} </strong></td>
      </tr>
      {% endfor %}                    
        </tbody>
      </table>
      <h2>SABADO, 18 DE FEBRERO</h2>
        <table class="uk-table-striped">
          <thead>
            <tr class ="uk-table-middle">
              <th class="uk-width-1-10">HORA</th>
              <th class="uk-width-1-10">LOCAL</th>
              <th class="uk-width-1-10">VISITANTE</th>
              <th class="uk-width-1-10">RESULTADO</th>
              <th class="uk-width-1-10">TIEMPO</th>
              <th class="uk-width-1-10">ASIST</th>
              <th class="uk-width-1-10">FALTAS</th>
            </tr>
          </thead>
          <tbody>
            {% for match in site.data.calendar limit: 5 offset:60 %} 
            <tr>
              <td> {{ match.date }} </td>
              <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
              <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
              <td><strong> {{ match.result }} </strong></td>
            </tr>
            {% endfor %}                    
          </tbody>
        </table>
        <h2>SABADO, 21 DE ENERO</h2>
        <table class="uk-table-striped">
            <thead>
                 <tr class ="uk-table-middle">
                    <th class="uk-width-1-10">HORA</th>
            <th class="uk-width-1-10">LOCAL</th>
            <th class="uk-width-1-10">VISITANTE</th>
            <th class="uk-width-1-10">RESULTADO</th>
            <th class="uk-width-1-10">TIEMPO</th>
            <th class="uk-width-1-10">ASIST</th>
            <th class="uk-width-1-10">FALTAS</th>
                </tr>
            </thead>
            <tbody>
              {% for match in site.data.calendar limit: 5 offset:65 %} 
                <tr>
                  <td> {{ match.date }} </td>
                  <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
                  <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
                  <td><strong> {{ match.result }} </strong></td>
                </tr>
              {% endfor %}                    
            </tbody>
          </table>
          <h2>DOMINGO, 22 DE ENERO</h2>
          <table class="uk-table-striped">
              <thead>
                   <tr class ="uk-table-middle">
                      <th class="uk-width-1-10">HORA</th>
                      <th class="uk-width-1-10">LOCAL</th>
                      <th class="uk-width-1-10">VISITANTE</th>
                      <th class="uk-width-1-10">RESULTADO</th>
                      <th class="uk-width-1-10">TIEMPO</th>
                      <th class="uk-width-1-10">ASIST</th>
                      <th class="uk-width-1-10">FALTAS</th>
                  </tr>
              </thead>
              <tbody>
                {% for match in site.data.calendar limit: 5 offset:65 %} 
                  <tr>
                    <td> {{ match.date }} </td>
                    <td><img src="{{"/assets/img/"}}{{ match.localpicture}}" width="40px" height="40px"> {{ match.local }} <strong>VS</strong></td>
                    <td><img src="{{"/assets/img/"}}{{ match.visitorpicture}}" width="40px" height="40px"> {{ match.visitor }} </td>
                    <td><strong> {{ match.result }} </strong></td>
                  </tr>
                {% endfor %}                    
              </tbody>
            </table>
          </li>
        </ul>
      </div>
