---
layout: default
---


<table class="uk-table-striped">
    <thead>
        <tr class ="uk-table-middle">
             <th class="uk-width-1-1">EQUIPOS</th>
        </tr>
    </thead>
    <tbody>
        {% for team in site.data.equipo limit:18 %} 
        <tr class ="uk-table-middle">   
            <td class = "uk-table-center"><img src="{{"/assets/img/"}}{{ team.picture}}" width="40px" height="40px"> <a href="{{team.url}}">{{team.name}}</a></td>

        </tr>
        {% endfor %} 
    </tbody>

</table>