---
layout: default
---
    <!-- Body -->
    <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-medium-3-4">
 
      <article class="uk-article">
        <h1 class="uk-article-title">
          LIGA BCD DE BALONCESTO.
        </h1>
        <p>
        <a href="layouts_post.html"><img width="900" height="300" src="{{"/assets/img/basket.jpg"}}" alt=""></a>
        </p>

        <p>Empieza nuevamente la liga BCD de baloncesto para los apasionados por el baloncesto. </p>

        <h2>TEMPORADA-2017</h2>

        

        <p>
        <a class="uk-button uk-button-primary" href="layouts_post.html">Seguir leyendo...</a>
        </p>

      </article>

      <article class="uk-article">
        <hr class="uk-grid-divider">

        <div class="uk-grid" data-uk-grid-margin>

          <div class="uk-width-medium-1-2">
            <img width="660" height="400" src=" {{ "/assets/img/basket2.jpg" }}" alt="" >
          </div>

          <div class="uk-width-medium-1-2">
            <h1>GANADORES TEMPORADA-2016 </h1>
            <p>Felicidades a los jugadores de la temporada pasada por su triunfo.</p>
						<h2> <a href="http://localhost:4000/losgg" style="color:black;">Greatness</a></h2>
            
            <a class="uk-button uk-button-primary" href="#">Leer mas...</a>
          </div>
        </div>

        <hr class="uk-grid-divider">
        <div class="uk-grid" data-uk-grid-margin>
          <div class="uk-width-medium-1-2">
            <h1>NUEVO PABELLON</h1>
            
            
            <p>Construido en dicembre del 2016 para las finales de la temporada-2017.</p>
            <a class="uk-button uk-button-primary" href="#">Leer mas...</a>
          </div>

          <div class="uk-width-medium-1-2">
            <img width="660" height="400" src="{{ "/assets/img/basket1.jpg"}} " alt="">
          </div>
        </div>
      </article>
      <hr class="uk-grid-divider">
                    
      <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">

          <div class="uk-vertical-align uk-text-center" style="background: url('{{"/assets/img/basket3.jpg"}}') 50% 0 no-repeat; height: 450px;">
            <div class="uk-vertical-align-middle uk-width-1-2">
              <h1 class="uk-heading-large" style="color:black;">LIGA BCD FEMENINA</h1>
              <p class="uk-text-large" style="color:black;">Muy pronto</p>
                            <p>
                                <a class="uk-button uk-button-primary uk-button-large" href="#">Ver mas...</a>
                                
                            </p>
                        </div>
                    </div>

                </div>
            </div>
          </div>

          <div class="uk-width-medium-1-4">
            <div class="uk-panel uk-panel-box uk-text-center">
              <img class="uk-border-circle" width="240" height="240" src="http://www.cooperativa.cl/noticias/site/artic/20170401/imag/foto_0000000120170401092325.jpg" alt="">
              <h3>Danilo Diaz</h3>
              <p>Muchas gracias al ministro de deportes por hacer esto posible.</p>
            </div>
            
         
           
          </div>
        </div>
     
   

